/* font Family */

.open-sans-header-logo-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: Black;
  font-size: 34px;
  color: #4E47FF;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared Style */
.btn-primary{
    padding: 15px 40px 15px 40px;
    background-color: #4E47FF;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
}

/* Header-style */
header{
    background-image: url(../Assets/images/Hero-bg.png);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}


nav{
    display: flex;
    justify-content: space-around;
    margin: 0px 150px 0px 150px;
    align-items: center;
    justify-content: space-between;

}
.banner {
    text-align: center;
}
.banner-title{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #F5F8FF;
}

main section{
    margin-top: 120px;
    margin-bottom: 120px;
}

/* see it in section */
.content-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.content-div-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin: 0;
    padding: 0;
}
.content-div-descrription{
    font-size: 24px;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.452);
}
.content-section img{
    border-radius: 48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content-div-btn{
    margin-top: 20px;
}
/* USP section */
.usp-section{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px 50px 80px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.usp-box-title{
    font-size: 38px;
    font-weight: bold;
}
.usp-boxs{
    display: flex;
    gap: 158px;
    justify-content: center;
}
.usp-title{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.usp-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    margin-top: 0px;
}