/* font Family */

.open-sans-header-logo-title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: Black;
  font-size: 34px;
  color: #4E47FF;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-align{
    text-align: center;
}


/* Shared Style */
.btn-primary{
    padding: 15px 40px 15px 40px;
    background-color: #4E47FF;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #4E47FF;
}
.btn-primary:hover{
    padding: 15px 40px 15px 40px;
    background-color: white;
    color: #4E47FF;
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #4E47FF;
}

/* Header-style */
header{
    background-image: url(../Assets/images/Hero-bg.png);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}


nav{
    display: flex;
    justify-content: space-around;
    margin: 0px 150px 0px 150px;
    align-items: center;
    justify-content: space-between;

}
.banner {
    text-align: center;
}
.banner-title{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}
body{
    background-color: #F5F8FF;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 120px;
    margin-bottom: 120px;
}

/* see it in section */
.content-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.content-div-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin: 0;
    padding: 0;
}
.content-div-descrription{
    font-size: 24px;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.452);
}
.content-section img{
    border-radius: 48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content-div-btn{
    margin-top: 20px;
}
/* USP section */
.usp-section{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px 50px 80px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.usp-box-title{
    font-size: 38px;
    font-weight: bold;
}
.usp-boxs{
    display: flex;
    gap: 158px;
    justify-content: center;
}
.usp-title{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.usp-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    margin-top: 0px;
}
/* Testimonial Section */
/* card 1 */
.rating-div{
    color: #ffe400;
}
.card-div input{
    display: none;
}
.card-div input:checked + label ~ label{
    color: #4E47FF;
}
/* end */
.testimonial-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.testimonail-main-div{
    display: flex;
    gap: 20px;
}
.card-div{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    border-radius: 24px;
    border: 1px solid #F2EDED;
}
.testimonial-title-head{
    font-size: 24px;
    margin-bottom: 0px;
}
.testimonial-description{
    font-size: ;
}

.tesimonial-identity{
    display: flex;
    gap: 25px;
    align-items: center;
}
.tesimonial-identity img{
    width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; /
}
.identity-title{
    margin-bottom: 0px;
    margin-top: 8px;
    color: #757575;
}
.identity-subtitle{
    margin-top: 4px;
    color: #7575759c;
}

/* last section */
.last-section{
    align-items: center;
    text-align: center;
    padding: 70px 150px;
    background-color: #ffffff;
    border-radius: 14px;
}
.last-sec-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}
.last-sec-description{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}
.last-sec-btn{
    margin-bottom: 20px;
}
.last-section-img{
    border-radius: 48px;
}
/* form style */
.form-title-left{
    font-size: 90px;
    font-weight: bold;
}


.form-section{
    display: flex;
    gap: 116px;
}
.form-column{
    width: 50%;
}
.form-column label{
    display: block;
    font-size: 16px;
    color: #000000;
}
.form-section input[type="text"], .form-section input[type="email"] {
    height: 35px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 14px 20px 14px 20px;
    margin-bottom: 24px;
    border: 1px solid #D6DDED;
}
.form-section textarea{
    height: 120px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 14px 20px 14px 20px;
    margin-bottom: 24px;
    border: 1px solid #D6DDED;
}
.form-section label{
    margin-bottom: 10px;
}